@import "bootstrap/scss/bootstrap";
@import "./partials/variables.scss";

.wrapper{
    width: 1170px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

button.mainScheme{
    background-color: white;
    color: $accentColor;
    border-bottom: $accentColor 2px solid;
    padding: .5rem;
}

.txt-white{
    color: white;
}
